In [2]:
import pandas as pd
import math
import jieba
from tqdm import tqdm

In [3]:
df = pd.read_csv('./credit_card_qa.csv').fillna('')

In [8]:
df = df[(df['answer'].str.len() < 1000) & (df['question'].str.len() < 100)]
df.drop_duplicates('question', inplace=True)
qa = pd.DataFrame({'q':df.question.tolist(), 'a': df.answer.tolist()})

## 方式1

In [30]:
import pymysql
db = pymysql.connect(host='localhost', user='root', passwd='root', db='qa_system', charset='utf8mb4')

In [31]:
cursor = db.cursor()
for qa in tqdm(qa_dict):
#     try:
    cursor.execute('insert into qa (q, a) values ("%s", "%s")' % (qa['q'], qa['a']))
    db.commit()
#     except:
#         continue

  0%|                                                                             | 61/358689 [00:00<09:49, 608.66it/s]

ProgrammingError: (1064, 'You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near \'闪电贷"是专门针对招行优质客户推出的一款信用贷款产品。\' at line 1')

## 方式2

In [10]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:root@localhost:3306/qa_system?charset=utf8mb4")

In [11]:
# qa.drop(index=[2856, 2857], inplace=True)
qa.reset_index(inplace=True)
qa = qa[['q', 'a']]

In [12]:
qa.to_sql(name='qa', con=engine, if_exists='append', index=False)

D:\Tools\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 484")
  result = self._query(query)

In [7]:
qa_dict = qa.to_dict(orient='records')

In [19]:
qa_dict[0]

{'a': '由于各城市相关政策有所不同，具体您所在当地是否有开展公积金贷款业务，以及相关业务规定，您可以直接与当地网点个贷部门联系确认!',
 'q': '壹方水榭可以用深*的公积金贷款吗，壹方水榭二套房'}

In [6]:
def simicos(str1, str2):
    # 对两个要计算的字符串进行分词, 使用隐马尔科夫模型(也可不用)
    # 由于不同的分词算法, 所以分出来的结果可能不一样
    # 也会导致相似度会有所误差, 但是一般影响不大
    # 如果想把所有的词性都计算，那么把if及其后面的全部删除掉即可
    cut_str1 = [w for w in jieba.cut(str1, HMM=False)]
    cut_str2 = [w for w in jieba.cut(str2, HMM=False)]
    # 列出所有词
    all_words = set(cut_str1 + cut_str2)
    # 计算词频
    freq_str1 = [cut_str1.count(x) for x in all_words]
    freq_str2 = [cut_str2.count(x) for x in all_words]
    # 计算相似度
    sum_all = sum([x*y for x, y in zip(freq_str1, freq_str2)])
    sqrt_str1 = math.sqrt(sum(x ** 2 for x in freq_str1))
    sqrt_str2 = math.sqrt(sum(x ** 2 for x in freq_str2))
    
    print(sqrt_str1, sqrt_str2)
    return sum_all / (sqrt_str1 * sqrt_str2)

In [8]:
simicos('壹方水榭可以用深*的公积金贷款吗，壹方水榭二套房', '壹方水榭可以用公积金吗')

4.795831523312719 2.6457513110645907

0.7881104062391007

In [10]:
def sim(q_):
    result = []
    for q in tqdm(qa_dict):
        if simicos(q_, q['q']) > 0.6:
            result.append(q['a'])
        if len(result) >= 1:
            return result
    return result

In [11]:
sim('壹方水榭可以用公积金吗')

  0%|                                                                                       | 0/358689 [00:00<?, ?it/s]

2.6457513110645907 4.795831523312719

['由于各城市相关政策有所不同，具体您所在当地是否有开展公积金贷款业务，以及相关业务规定，您可以直接与当地网点个贷部门联系确认!']

In [16]:
sql_df = pd.read_sql('select q, a from qa', con=db)

In [19]:
sql_df.head(10)

,q,a
0,壹方水榭可以用深*的公积金贷款吗，壹方水榭二套房,由于各城市相关政策有所不同，具体您所在当地是否有开展公积金贷款业务，以及相关业务规定，您可以...
1,了多久能放款，为什么迟迟不放款,我行贷款如您提交申请资料齐全审批大约15个工作日左右，因为中间涉及评估、办理抵押登记等环节，...
2,快速借款逾期有多严重,若是我行贷款，如有消费，请您按时、足额在到期还款日之前还款。首先逾期会生成不良信用记录，影响...
3,悦借钱骗人的,涉及利益都不太好
4,有信用卡在什么APP贷款容易贷款二千,你有支付宝花呗吗
5,10##40港币是多少人民币,根据您提供的信息，按照此时外汇现钞汇率计算，所得人民币：82#31.31（因汇率实时变动，计...
6,新手求一款风险低收益高的里财，多融财富咋样？,您好，欢迎您关注招行理财产品，目前我行的理财产品在主页上面有公布出来，打开个人理财页面，通过...
7,哪些网贷还能下款阿求推荐几个我自己申请,如需在招行贷款，您可以登陆我行一网通主页，选择横排菜单“个人业务”--“个空中银行”--“空...
8,借500，可以借我吗？,通过招行贷款，贷款金额较小（5万以下），如您已是招行用户，并且下载了招商银行手机银行APP，...
9,这样征信有问题吗？有个招商银行的信用卡在用，征信记录有过招商银行的查询记录（4次）,就征信而言，没有问题没有逾期，没有网贷或者其他贷款信用卡数量属于正常范围之内查询记录不多如果...